@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}
.pipe {
    width: 80px;
    position: absolute;
    bottom: 0;
    animation: pipe-animation 2s infinite linear;
}
@keyframes jump {
    0% { bottom: 0; }
    40%, 50%, 60% { bottom: 180px}
    100% { bottom: 0; }
}
.jump {
    animation: jump 500ms ease-out;}
}
