@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}
.pipe {
    width: 80px;
    position: absolute;
    bottom: 0;
    animation: pipe-animation 2s infinite linear;
}
@keyframes jump {
    0% { bottom: 0; }
    40%, 50%, 60% { bottom: 180px; }
    100% { bottom: 0; }
}
.jump {
    animation: jump 500ms ease-out;
}

.night-mode {
    background: linear-gradient(rgb(100, 50, 60), rgb(50, 10, 100)) !important;
}

.night-mode .score {
    color: yellow;
}

.coin {
    width: 30px;
    position: absolute;
    bottom: 150px;
    animation: coin-animation 3s infinite linear;
}

@keyframes coin-animation {
    from { right: -30px; }
    to { right: 100%; }
}
